.jumbotron{
	background-image: url('../images/train.jpg');
	background-position-y: 80%;
	background-size:100%;
	
	
	color:#FFFFFF;
}

body{
	background-color:white;
	font-size:18px;
	font-weight:bold;
}
 .container-fluid{
	 border: solid black 3px;
	 padding:20px;
 }